extends ../layout

block content
    block flash
        if (message.notice.length > 0)
            .alert.alert-info= message.notice
        if (message.warning.length > 0)
            .alert.alert-info= message.warning
    .row
        .col-sm-offset-4.col-sm-5
            .panel.panel-default
                .panel-heading
                    h1.panel-title Sign In
                .panel-body
                    form.form-horizontal(action='sign_in', method='post')
                        .form-group
                            label.col-sm-3.control-label Email
                            .col-sm-9
                                input(type='email', name='email', class='form-control')
                        .form-group
                            label.col-sm-3.control-label Password
                            .col-sm-9
                                input(type='password', name='password', class='form-control')
                        .form-group
                            .col-sm-offset-3
                                button.btn.btn-primary(type='submit') Sign In
                .panel-footer
                    a(href='/sign_up') Don't have an account? Sign up!
