extends ../layout

block content
    block flash
        if (message.notice.length > 0)
            .alert.alert-info= message.notice
        if (message.warning.length > 0)
            .alert.alert-info= message.warning
    .row
        .col-sm-offset-3.col-sm-6
            .panel.panel-default
                .panel-heading
                    h1.panel-title Sign Up
                .panel-body
                    form.form-horizontal(action= 'sign_up', method='post')
                        .form-group
                            label.col-sm-4.control-label Username
                            .col-sm-6
                                input.form-control(type='text', name='userName')
                        .form-group
                            label.col-sm-4.control-label Email
                            .col-sm-6
                                input.form-control(type='email', name='email')
                        .form-group
                            label.col-sm-4.control-label Password
                            .col-sm-6
                                input.form-control(type='password', name='password')
                        .form-group.form-group-btn
                            button.btn.btn-primary(type='submit') Sign Up
                .panel-footer
                    a(href='/sign_in') Already have an account? Sign in!
