extends layout

block content
    div(ng-controller='DashCntrl')
        h1 Dashboard
        div(ng-hide='user.game.started')
            h3 You haven't started a stock trading game yet.
            a.btn.btn-primary(href='#', ng-click='startGame()') Start Game
        div(ng-show='user.game.started')
            h3 {{user.game.amount | currency : symbol}} in account
            input(id='stockTicker', type='text', name='stockTicker', placeholder='Stock Ticker, Stock Symbol', ng-model='stockTicker', autocomplete='off', data-provide='typeahead')
            a.btn.btn-primary(ng-href='/stock/{{stockTicker}}') Quote

block scripts
    script(src='javascripts/search_autocomplete.js')