extends layout

block content
    div(ng-app='DashboardApp', ng-controller='DashCntrl', ng-init='current_user = #{JSON.stringify(user)}; initUser(current_user)')
        h1 Dashboard
        h3 {{user.game.amount | currency : symbol}} in account

block scripts
    script(src='/javascripts/ng-dashboard.js')