extends layout

block content
    h1 Forgot Password
    block flash
        if (message.notice.length > 0)
            p= message.notice
        if (message.warning.length > 0)
            p= message.warning
    form(action='forgot_password', method='post')
        input(type='email', name='email', placeholder='Email')
        button(type='submit') Proceed