doctype html
html.backit
  head
    title= title
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body(ng-app='MarginApp', ng-controller='MainCntrl', ng-init='uid = #{JSON.stringify(uid)}; init(uid);')
    .container
        h1.intro-title.text-center.animated.fadeInDown M
        h2.intro-subtitle.text-center Better investing.
        div.intro-btns
            a(href='/about')
                button.join.btn.btn-default Learn More
            a(href='/sign_up')
                button.join.btn.btn-default Join Program
        div.push
            a.supplement(href='/sign_in') or Sign In
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
