doctype html
html
  head
    title= title
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body(ng-app='MarginApp', ng-controller='MainCntrl', ng-init='uid = #{JSON.stringify(uid)}; init(uid);')
    .container-fluid
        .navbar.navbar-default
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Margin
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right(ng-show='uid')
                    li
                        a(href='/sign_out') Sign Out
                p.navbar-text.navbar-right(ng-show='uid') {{user.userName}}
                ul.nav.navbar-nav.navbar-right(ng-hide='uid')
                    li
                        a(href='/sign_up') Sign Up
                    li
                        a(href='/sign_in') Sign In
    .container
        block content
            block flash
    script(data-main='/javascripts/main', src='/javascripts/require.js')
    block scripts