extends layout

block content
    div(ng-controller='StockCntrl' ng-init='ticker = #{JSON.stringify(ticker)}; render(ticker);', ng-show='stock')
        h1 {{stock.Name}} ({{stock.Symbol}})
        h2 {{stock.LastPrice | currency : symbol}}
        button.btn.btn-primary(href='#') Buy