extends layout

block content
    div(ng-controller='StockCntrl', ng-init='ticker = #{JSON.stringify(ticker)}; render(ticker);')
        .loading(ng-hide='stock')
            p.loading-icon
                i(class='fa fa-spinner fa-spin')
        .loaded(ng-show='stock')
            h1.page-title.push-down {{stock.Name}} 
                span.subheading {{stock.Symbol}}
            block flash
                if (message.notice.length > 0)
                    p= message.notice
                if (message.warning.length > 0)
                    p= message.warning
            .row
                .panel.panel-default
                    .panel-heading
                        h1.panel-title The Numbers
                    .panel-body
                        h2 Current Price &mdash; 
                            span.stockPrice {{stock.LastPrice | currency}}
                        h3 Available Assets &mdash; 
                            span.currentAssets {{assets | currency}}
            .row
                .panel.panel-default
                    .panel-heading
                        h1.panel-title Purchase Shares
                    .panel-body
                        form.form-horizontal(method='post')
                            .form-group
                                label.col-sm-4.control-label Number of Shares
                                .col-sm-4
                                    input.form-control(type='number', name='numberOfShares', min='0', max-val='{{maxPossibleShares}}', ng-model='numShares')
                            .form-group.form-group-btn
                                button.btn.btn-primary(type='submit') Purchase
