extends layout

block content
    div(ng-controller='StockCntrl' ng-init='stock = #{JSON.stringify(stock)}; render(stock);')
        h1 {{stock.Name}} ({{stock.Symbol}})
        h2 {{stock.LastPrice | currency : symbol}}