.btn
	padding 8px 14px
	border 2px solid white
	border-radius 0
	text-transform uppercase

.btn-default
	font-family "Source Sans Pro"
	font-size 1.3rem
	font-weight 400
	color base
	background-color white
	border-color white
	transition border-color 0.15s ease-in-out

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default 
	color base
	background-color white
	border-color white
	box-shadow none

.btn-defaulthover,
.btn-defaultfocus,
.btn-default.focus,
.btn-defaultactive,
.btn-default.active,
.open > .dropdown-toggle.btn-default
	color base
	background-color white
	border-color white

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabledhover,
.btn-default[disabled]hover,
fieldset[disabled] .btn-defaulthover,
.btn-default.disabledfocus,
.btn-default[disabled]focus,
fieldset[disabled] .btn-defaultfocus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabledactive,
.btn-default[disabled]active,
fieldset[disabled] .btn-defaultactive,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active
	background-color white
	border-color white

.btn-default .badge 
	color base
	background-color white