@import "animate.min.css"
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"

@font-face {
    font-family: "High Tower";
    src: url('fonts/htowert-webfont.eot');
    src: url('fonts/htowert-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/htowert-webfont.woff2') format('woff2'),
         url('fonts/htowert-webfont.woff') format('woff'),
         url('fonts/htowert-webfont.ttf') format('truetype'),
		 url('fonts/htowert-webfont.svg#high_tower_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

base = #D35F5F

accent = #3498DB

light = #656D78

dull = #ECF0F1

@import "overrides"

body
	background-color transparent

.backit
	background-color base

.backit h1,
.backit h2,
.backit h3,
.backit h4,
.backit h5,
.backit h6
	font-family "Open Sans"
	font-weight 300
	color white

h1.intro-title
	font-family "High Tower"
	font-size 30rem
	color white
	margin-top 8rem

h2.intro-subtitle
	font-family "Open Sans"
	font-weight 300
	font-size 4rem
	color white
	margin-top -2rem

.intro-btns
	text-align center
	margin-top 5rem
	button.join:first-child
		margin-right 1rem

div.push
	width 65px
	margin-left auto
	margin-right auto
	text-align center
	a.supplement
		display block
		font-family "Open Sans"
		font-weight 1rem
		color white
		margin-top 2rem
	a.supplement:hover,
	a.supplement:focus
		margin-left auto
		margin-right auto
		color white

.about
	h1
		font-size 5rem

.loading-icon
	font-size 5rem
	text-align center
	margin-top 50px

.page-title
	font-family "Source Sans Pro"
	font-weight 100
	font-size 5rem
	text-align center

.page-title.push-down
	margin-bottom 55px

.gross
	color accent

.page-title .subheading
	font-size 3rem
	color accent